/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/android_support_v4.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build/manifests/debug/debug.iml
/build/manifests/debug/gen/yoloswagswag/swe_app/BuildConfig.java
/build/manifests/debug/gen/yoloswagswag/swe_app/Manifest.java
/build/manifests/debug/gen/yoloswagswag/swe_app/R.java
/build/source/buildConfig/buildConfig.iml
/src/main/gen/yoloswagswag/swe_app/BuildConfig.java
/src/main/gen/yoloswagswag/swe_app/Manifest.java
/src/main/gen/yoloswagswag/swe_app/R.java
/src/main/main.iml
